<!DOCTYPE html>
<html>
 <head><meta charset="shift_jis">
  
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" name="viewport"/>
  <title>
   Hulkpage - Your Hosting Platform
  </title>
  <meta content="Admin Dashboard" name="description">
   <meta content="Themesbrand" name="author">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <!-- App Icons -->
    <link href="{{ url_for('static', filename = 'assets/images/favicon.ico') }}" rel="shortcut icon"/>
    <!--Morris Chart CSS -->
    <link href="{{ url_for('static', filename = 'assets/plugins/morris/morris.css') }}" rel="stylesheet"/>
    <!-- App css -->
    <link href="{{ url_for('static', filename = 'assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename = 'assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename = 'assets/css/style.css') }}" rel="stylesheet" type="text/css">
    </link>
   </meta>
  </meta>
 </head>
 <body>
  <!-- Loader -->
  <div id="preloader">
   <div id="status">
    <div class="spinner">
    </div>
   </div>
  </div>
  <div class="header-bg">
   <!-- Navigation Bar-->
   <header id="topnav">
    <div class="topbar-main">
     <div class="container-fluid">
      <!-- Logo container-->
      <div class="logo">
       <!-- Text Logo -->
       <a class="logo" href="{{ url_for('index') }}">
        HulkPage
       </a>
       <!-- Image Logo -->
       <!-- <a href="index.html" class="logo">
                                <img src="assets/images/logo-sm.png" alt="" height="22" class="logo-small">
                                <img src="assets/images/logo.png" alt="" height="24" class="logo-large">
                            </a> -->
      </div>
      <!-- End Logo container-->
      <div class="menu-extras topbar-custom">
       <ul class="list-inline float-right mb-0">
        <!-- notification-->
        <li class="list-inline-item dropdown notification-list">
         <a aria-expanded="false" aria-haspopup="false" class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button">
          <i class="ti-bell noti-icon">
          </i>
          <span class="badge badge-info badge-pill noti-icon-badge">
           3
          </span>
         </a>
         <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
          <!-- item-->
          <div class="dropdown-item noti-title">
           <h5>
            Notification (3)
           </h5>
          </div>
          <!-- item-->
          <a class="dropdown-item notify-item search" href="javascript:void(0);">
           <div class="notify-icon bg-success">
            <i class="mdi mdi-cart-outline">
            </i>
           </div>
           <p class="notify-details">
            <b>
             Your order is placed
            </b>
            <small class="text-muted">
             Dummy text of the printing and typesetting industry.
            </small>
           </p>
          </a>
          <!-- item-->
          <a class="dropdown-item notify-item" href="javascript:void(0);">
           <div class="notify-icon bg-warning">
            <i class="mdi mdi-message">
            </i>
           </div>
           <p class="notify-details">
            <b>
             New Message received
            </b>
            <small class="text-muted">
             You have 87 unread messages
            </small>
           </p>
          </a>
          <!-- item-->
          <a class="dropdown-item notify-item" href="javascript:void(0);">
           <div class="notify-icon bg-info">
            <i class="mdi mdi-martini">
            </i>
           </div>
           <p class="notify-details">
            <b>
             Your item is shipped
            </b>
            <small class="text-muted">
             It is a long established fact that a reader will
            </small>
           </p>
          </a>
          <!-- All-->
          <a class="dropdown-item notify-item" href="javascript:void(0);">
           View All
          </a>
         </div>
        </li>
        <!-- User-->
        <li class="list-inline-item dropdown notification-list">
         <a aria-expanded="false" aria-haspopup="false" class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button">
          <img alt="user" class="rounded-circle" src="{{ url_for('static', filename = 'assets/images/users/avatar-1.jpg') }}"/>
          <span class="ml-1">
           Denish J.
           <i class="mdi mdi-chevron-down">
           </i>
          </span>
         </a>
         <div class="dropdown-menu dropdown-menu-right profile-dropdown">
          <a class="dropdown-item" href="#">
           <i class="dripicons-user text-muted">
           </i>
           Profile
          </a>
          <a class="dropdown-item" href="#">
           <i class="dripicons-wallet text-muted">
           </i>
           My Wallet
          </a>
          <a class="dropdown-item" href="#">
           <span class="badge badge-success pull-right m-t-5">
            5
           </span>
           <i class="dripicons-gear text-muted">
           </i>
           Settings
          </a>
          <a class="dropdown-item" href="#">
           <i class="dripicons-lock text-muted">
           </i>
           Lock screen
          </a>
          <div class="dropdown-divider">
          </div>
          <a class="dropdown-item" href="#">
           <i class="dripicons-exit text-muted">
           </i>
           Logout
          </a>
         </div>
        </li>
        <li class="menu-item list-inline-item">
         <!-- Mobile menu toggle-->
         <a class="navbar-toggle nav-link">
          <div class="lines">
           <span>
           </span>
           <span>
           </span>
           <span>
           </span>
          </div>
         </a>
         <!-- End mobile menu toggle-->
        </li>
       </ul>
      </div>
      <!-- end menu-extras -->
      <div class="clearfix">
      </div>
     </div>
     <!-- end container -->
    </div>
    <!-- end topbar-main -->
    <!-- MENU Start -->
    <div class="navbar-custom">
     <div class="container-fluid">
      <div id="navigation">
       <!-- Navigation Menu-->
       <ul class="navigation-menu">
        <li class="has-submenu">
         <a href="#">
          <i class="dripicons-suitcase">
          </i>
          Settings
          <i class="mdi mdi-chevron-down mdi-drop">
          </i>
         </a>
         <ul class="submenu megamenu">
          <li>
           <ul>
            <li>
             <a href="">
              General
             </a>
            </li>
            <li>
             <a href="">
              Billing
             </a>
            </li>
            <li>
             <a href="">
              Fraud Protection
             </a>
            </li>
            <li>
             <a href="">
              Security
             </a>
            </li>
            <li>
             <a href="">
              Mail
             </a>
            </li>
            <li>
             <a href="">
              Sms
             </a>
            </li>
            <li>
             <a href="">
              Staff
             </a>
            </li>
            <li>
             <a href="">
              Notification
             </a>
            </li>
            <li>
             <a href="">
              Automation
             </a>
            </li>
           </ul>
          </li>
         </ul>
        </li>
        <li class="has-submenu">
         <a href="#">
          <i class="dripicons-to-do">
          </i>
          Orders
          <i class="mdi mdi-chevron-down mdi-drop">
          </i>
         </a>
         <ul class="submenu">
          <li>
           <a href="{{ url_for('browse_order') }}">
            Browse
           </a>
          </li>
          <li>
           <a href="{{ url_for('active_order') }}">
            Active
           </a>
          </li>
          <li>
           <a href="{{ url_for('pending_order') }}">
            Pending
           </a>
          </li>
          <li>
           <a href="{{ url_for('suspended_order') }}">
            Suspended
           </a>
          </li>
          <li>
           <a href="{{ url_for('cancelled_order') }}">
            Cancelled
           </a>
          </li>
          <li>
           <a href="{{ url_for('upgrade_downgrade_order') }}">
            Upgrades/Downgrades
           </a>
          </li>
          <li>
           <a href="{{ url_for('addons_order') }}">
            Order Addons
           </a>
          </li>
          <li>
           <a href="{{ url_for('cancel_request_order') }}">
            Cancellation Request
           </a>
          </li>
          <li>
           <a href="{{ url_for('create_order') }}">
            Add Orders
           </a>
          </li>
         </ul>
        </li>
        <li class="has-submenu">
         <a href="#">
          <i class="dripicons-trophy">
          </i>
          Billing
          <i class="mdi mdi-chevron-down mdi-drop">
          </i>
         </a>
         <ul class="submenu">
          <li>
           <a href="{{ url_for('browse_invoice') }}">
            Browse Invoice
           </a>
          </li>
          <li>
           <a href="{{ url_for('create_pay_invoice') }}">
            Create Invoice
           </a>
          </li>
          <li>
           <a href="{{ url_for('paid_invoice') }}">
            Paid Invoice
           </a>
          </li>
          <li>
           <a href="{{ url_for('unpaid_invoice') }}">
            Unpaid Invoice
           </a>
          </li>
          <li>
           <a href="{{ url_for('cancelled_invoice') }}">
            Cancelled Invoice
           </a>
          </li>
          <li class="has-submenu">
           <a>
            Official Invoice
           </a>
           <ul class="submenu">
            <a href="{{ url_for('formalized_invoice') }}">
             Formalized Invoice
            </a>
            <a href="{{ url_for('non_formalized_invoice') }}">
             Non Formalized Invoice
            </a>
           </ul>
          </li>
          <li>
           <a href="{{ url_for('cash_management') }}">
            Cash Management
           </a>
          </li>
         </ul>
        </li>
        <li class="has-submenu">
         <a href="#">
          <i class="dripicons-copy">
          </i>
          Clients
          <i class="mdi mdi-chevron-down mdi-drop">
          </i>
         </a>
         <ul class="submenu">
          <li>
           <a href="{{ url_for('customer') }}">
            Client List
           </a>
          </li>
          <li>
           <a href="{{ url_for('affiliate') }}">
            Affiliate Management
           </a>
          </li>
          <li>
           <a href="{{ url_for('reseller') }}">
            Reseller Management
           </a>
          </li>
          <li class="has-submenu">
           <a>
            Document Verification
           </a>
           <ul class="submenu">
            <a href="{{ url_for('document_filter') }}">
             Filters
            </a>
            <a href="{{ url_for('document_records') }}">
             Records
            </a>
           </ul>
          </li>
          <li>
           <a href="{{ url_for('wf_fraud') }}">
            Fraud Blacklist
           </a>
          </li>
         </ul>
        </li>
        <li class="has-submenu">
         <a href="#">
          <i class="dripicons-copy">
          </i>
          Tools
          <i class="mdi mdi-chevron-down mdi-drop">
          </i>
         </a>
         <ul class="submenu">
          <li>
           <a href="{{ url_for('addons') }}">
            Addons
           </a>
          </li>
          <li>
           <a href="{{ url_for('bulk_mail') }}">
            Mass Email
           </a>
          </li>
          <li>
           <a href="{{ url_for('bulk_sms') }}">
            Mass Sms
           </a>
          </li>
          <li>
           <a href="{{ url_for('systemic_sms_record') }}">
            Sytemic Sms Records
           </a>
          </li>
          <li>
           <a href="{{ url_for('systemic_mail_record') }}">
            Sytemic Email Records
           </a>
          </li>
          <li class="has-submenu">
           <a>
            Process Logs
           </a>
           <ul class="submenu">
            <a href="{{ url_for('session_logs') }}">
             Session Logs
            </a>
            <a href="{{ url_for('activity_log') }}">
             Activity Logs
            </a>
            <a href="{{ url_for('systemic_error_log') }}">
             Systemic Error Logs
            </a>
            <a href="{{ url_for('module_activity_log') }}">
             Module Activity Logs
            </a>
           </ul>
          </li>
          <li>
           <a href="{{ url_for('reminder') }}">
            Reminders
           </a>
          </li>
          <li>
           <a href="{{ url_for('task_planner') }}">
            Task Planners
           </a>
          </li>
          <li>
           <a href="">
            Easy Import Tools
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#">
          <i class="dripicons-copy">
          </i>
          WA Analytics
          <i>
          </i>
         </a>
        </li>
        <li class="has-submenu">
         <a href="#">
          <i class="dripicons-copy">
          </i>
          Support
          <i class="mdi mdi-chevron-down mdi-drop">
          </i>
         </a>
         <ul class="submenu">
          <li>
           <a href="{{ url_for('tickets') }}">
            Tickets
           </a>
          </li>
          <li>
           <a href="{{ url_for('create_ticket') }}">
            Create Tickets
           </a>
          </li>
          <li>
           <a href="{{ url_for('responses') }}">
            Responses
           </a>
          </li>
          <li>
           <a href="{{ url_for('custom_fields') }}">
            Custom Field
           </a>
          </li>
          <li>
           <a href="{{ url_for('knowledge_base') }}">
            Knowledge Base
           </a>
          </li>
         </ul>
        </li>
        <li class="has-submenu">
         <a href="#">
          <i class="dripicons-copy">
          </i>
          Services
          <i class="mdi mdi-chevron-down mdi-drop">
          </i>
         </a>
         <ul class="submenu">
          <li class="has-submenu">
           <a>
            Service Management
           </a>
           <ul class="submenu">
            <a href="{{ url_for('create_service_group') }}">
             Add Group
            </a>
            <a href="{{ url_for('module_setting') }}">
             Module Settings
            </a>
            <a href="{{ url_for('product_addons') }}">
             Addons
            </a>
            <a href="">
             Requirements
            </a>
           </ul>
          </li>
          <li class="has-submenu">
           <a>
            Hosting Management
           </a>
           <ul class="submenu">
            <a href="">
             Server Settings
            </a>
            <a href="">
             Hosting Packages
            </a>
            <a href="">
             Dedicated/VPS Packages
            </a>
           </ul>
          </li>
          <li class="has-submenu">
           <a>
            Domain Name Registration
           </a>
           <ul class="submenu">
            <a href="">
             Extensions and Prices
            </a>
            <a href="">
             Domain Name Registrars
            </a>
            <a href="">
             Dedicated/VPS Packages
            </a>
           </ul>
          </li>
          <li>
           <a href="">
            Software Services
           </a>
          </li>
          <li class="has-submenu">
           <a>
            International Sms Services
           </a>
           <ul class="submenu">
            <a href="">
             Sender IDs
            </a>
            <a href="">
             Reports
            </a>
           </ul>
          </li>
          <li>
           <a href="advanced-rating.html">
            Google SEO Services
           </a>
          </li>
         </ul>
        </li>
        <li class="has-submenu">
         <a href="#">
          <i class="dripicons-copy">
          </i>
          Site Management
          <i class="mdi mdi-chevron-down mdi-drop">
          </i>
         </a>
         <ul class="submenu">
          <li>
           <a href="{{ url_for('pages') }}">
            Pages
           </a>
          </li>
          <li>
           <a href="{{ url_for('agreement') }}">
            Agreement
           </a>
          </li>
          <li>
           <a href="{{ url_for('add_news_announcement') }}">
            Announcement
           </a>
          </li>
          <li>
           <a href="{{ url_for('blog') }}">
            Blog
           </a>
          </li>
          <li>
           <a href="{{ url_for('references') }}">
            References
           </a>
          </li>
          <li>
           <a href="">
            Menu
           </a>
          </li>
          <li>
           <a href={{ url_for('slider_list') }}>
            Sliders
           </a>
          </li>
          <li>
           <a href="{{ url_for('client_testimonial') }}">
            Client Testimonials
           </a>
          </li>
          <li>
           <a href="{{ url_for('contact_message') }}">
            Contact Messages
           </a>
          </li>
         </ul>
        </li>
        <li class="has-submenu">
         <a href="#">
          <i class="dripicons-copy">
          </i>
          Languages
          <i class="mdi mdi-chevron-down mdi-drop">
          </i>
         </a>
         <ul class="submenu">
          <li>
           <a href="{{ url_for('browse_language') }}">
            Browse Languages
           </a>
          </li>
          <li>
           <a href="{{ url_for('find_replace') }}">
            Find and Replace
           </a>
          </li>
          <li>
           <a href="{{ url_for('add_language') }}">
            Add Language
           </a>
          </li>
         </ul>
        </li>
        <li class="has-submenu">
         <a href="#">
          <i class="dripicons-copy">
          </i>
          Help
          <i class="mdi mdi-chevron-down mdi-drop">
          </i>
         </a>
         <ul class="submenu">
          <li>
           <a href="">
            Health Situations
           </a>
          </li>
          <li>
           <a href="">
            Updates
           </a>
          </li>
          <li>
           <a href="">
            Licence Information
           </a>
          </li>
          <li>
           <a href="">
            User Guide
           </a>
          </li>
          <li>
           <a href="">
            Development Guide
           </a>
          </li>
         </ul>
        </li>
       </ul>
       <!-- End navigation menu -->
      </div>
      <!-- end #navigation -->
     </div>
     <!-- end container -->
    </div>
    <!-- end navbar-custom -->
   </header>
   <!-- End Navigation Bar-->
   <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
     <div class="col-sm-12">
      <div class="page-title-box">
       <form class="float-right app-search">
        <h5>
         <a href="index2.html">
          DashBoard
         </a>
         /Slider List
        </h5>
       </form>
       <h4 class="page-title">
        Slider List
       </h4>
       <button class="btn btn-secondary btn-sm waves-effect" type="button">
        Add New Slider List
       </button>
      </div>
     </div>
    </div>
    <!-- end page title end breadcrumb -->
   </div>
   <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
     <div class="col-sm-12">
      <form class="float-right app-search">
       <input class="form-control" placeholder="Search..." type="text"/>
       <button type="submit">
        <i class="fa fa-search">
        </i>
       </button>
      </form>
     </div>
    </div>
    <!-- end page title end breadcrumb -->
   </div>
   <!-- end wrapper -->
  </div>
  <div class="wrapper">
   <div class="container-fluid">
    <div class="row">
     <div class="col-12">
      <div class="card m-b-20">
       <!-- Tab panes -->
       <div class="tab-content">
        <div class="tab-pane active p-3" role="tabpanel">
         <div class="card-body">
          <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" type="button">
           10
          </button>
          <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
           <a class="dropdown-item" href="#">
            10
           </a>
           <a class="dropdown-item" href="#">
            25
           </a>
           <a class="dropdown-item" href="#">
            50
           </a>
           <a class="dropdown-item" href="#">
            All
           </a>
          </div>
          <a>
           Show Records
          </a>
          <form class="float-right app-search">
           <input class="form-control" placeholder="Search..." type="text"/>
           <button type="submit">
            <i class="fa fa-search">
            </i>
           </button>
          </form>
          <div class="table-rep-plugin">
           <div class="table-responsive b-0" data-pattern="priority-columns">
            <table class="table table-striped" id="tech-companies-1">
             <thead>
              <tr>
               <th data-priority="1">
                Title
               </th>
               <th data-priority="3">
                URL Address
               </th>
               <th data-priority="3">
                Creation Date
               </th>
               <th data-priority="6">
                Action
               </th>
              </tr>
             </thead>
             <tbody>
              <tr>
               <td>
                Social Media Services
               </td>
               <td>
                <i>
                </i>
                <a href="">
                 None
                </a>
               </td>
               <td>
                02/07/2018 - 14:08
               </td>
               <td>
                <button type="submit">
                 <i class="fa fa-pencil">
                 </i>
                </button>
                <button type="submit">
                 <i class="fa fa-trash">
                 </i>
                </button>
               </td>
              </tr>
             </tbody>
            </table>
           </div>
          </div>
         </div>
        </div>
       </div>
       <!-- end col -->
      </div>
      <!-- end row -->
     </div>
     <!-- end container -->
    </div>
    <!-- Footer -->
    <style>
     #more {display: none;}
    </style>
    <script>
     function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
    </script>
    <footer class="footer">
     <div class="container-fluid">
      <div class="row">
       <div class="col-12">
        Â© 2020 HulkPage
       </div>
      </div>
     </div>
    </footer>
    <!-- End Footer -->
    <!-- jQuery  -->
    <script src="{{ url_for('static', filename = 'assets/js/jquery.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename = 'assets/js/bootstrap.bundle.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename = 'assets/js/modernizr.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename = 'assets/js/waves.js') }}">
    </script>
    <script src="{{ url_for('static', filename = 'assets/js/jquery.slimscroll.js') }}">
    </script>
    <script src="{{ url_for('static', filename = 'assets/js/jquery.nicescroll.js') }}">
    </script>
    <script src="{{ url_for('static', filename = 'assets/js/jquery.scrollTo.min.js') }}">
    </script>
    <!--Morris Chart-->
    <script src="{{ url_for('static', filename = 'assets/plugins/morris/morris.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename = 'assets/plugins/raphael/raphael-min.js') }}">
    </script>
    <script src="{{ url_for('static', filename = 'assets/pages/dashboard.js') }}">
    </script>
    <script src="{{ url_for('static', filename = 'assets/plugins/sweet-alert2/sweetalert2.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename = 'assets/pages/sweet-alert.init.js') }}">
    </script>
    <!-- App js -->
    <script src="{{ url_for('static', filename = 'assets/js/app.js') }}">
    </script>
   </div>
  </div>
 </body>
</html>
